:root {
    --primary-color: lime;
    --text-color: #e4e6eb;
    --bg-color: #221f1f;
}

body {
    background-color: var(--bg-color);
    color: blueviolet;
    margin: 0;
}

.cor-do-texto {
    color: var(--text-color);
}

.menu {
    background-color: black;
    margin: 0;
}